<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coatardbul.stock.mapper.StockTradeDateSwitchMapper">
  <resultMap id="BaseResultMap" type="com.coatardbul.stock.model.entity.StockTradeDateSwitch">
    <!--@mbg.generated-->
    <!--@Table stock_trade_date_switch-->
    <id column="date" jdbcType="VARCHAR" property="date" />
    <result column="time" jdbcType="VARCHAR" property="time" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    `date`, `time`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from stock_trade_date_switch
    where `date` = #{date,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from stock_trade_date_switch
    where `date` = #{date,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.coatardbul.stock.model.entity.StockTradeDateSwitch">
    <!--@mbg.generated-->
    insert into stock_trade_date_switch (`date`, `time`)
    values (#{date,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.coatardbul.stock.model.entity.StockTradeDateSwitch">
    <!--@mbg.generated-->
    insert into stock_trade_date_switch
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="date != null">
        `date`,
      </if>
      <if test="time != null">
        `time`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="date != null">
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.coatardbul.stock.model.entity.StockTradeDateSwitch">
    <!--@mbg.generated-->
    update stock_trade_date_switch
    <set>
      <if test="time != null">
        `time` = #{time,jdbcType=VARCHAR},
      </if>
    </set>
    where `date` = #{date,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.coatardbul.stock.model.entity.StockTradeDateSwitch">
    <!--@mbg.generated-->
    update stock_trade_date_switch
    set `time` = #{time,jdbcType=VARCHAR}
    where `date` = #{date,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-08-04-->
  <select id="selectByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from stock_trade_date_switch
        <where>
            <if test="date != null">
                and `date`=#{date,jdbcType=VARCHAR}
            </if>
            <if test="time != null">
                and `time`=#{time,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

<!--auto generated by MybatisCodeHelper on 2022-08-07-->
  <update id="updateDate">
        update stock_trade_date_switch
        set `date`=#{updatedDate,jdbcType=VARCHAR}
    </update>
</mapper>