<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coatardbul.stock.mapper.StockTradeAssetPositionMapper">
  <resultMap id="BaseResultMap" type="com.coatardbul.stock.model.entity.StockTradeAssetPosition">
    <!--@mbg.generated-->
    <!--@Table stock_trade_asset_position-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="all_position" jdbcType="VARCHAR" property="allPosition" />
    <result column="curr_position" jdbcType="VARCHAR" property="currPosition" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="curr_num" jdbcType="VARCHAR" property="currNum" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, code, all_position, curr_position, `date`, `type`, curr_num
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from stock_trade_asset_position
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from stock_trade_asset_position
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.coatardbul.stock.model.entity.StockTradeAssetPosition">
    <!--@mbg.generated-->
    insert into stock_trade_asset_position (id, `name`, code, 
      all_position, curr_position, `date`, 
      `type`, curr_num)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{allPosition,jdbcType=VARCHAR}, #{currPosition,jdbcType=VARCHAR}, #{date,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{currNum,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.coatardbul.stock.model.entity.StockTradeAssetPosition">
    <!--@mbg.generated-->
    insert into stock_trade_asset_position
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="allPosition != null">
        all_position,
      </if>
      <if test="currPosition != null">
        curr_position,
      </if>
      <if test="date != null">
        `date`,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="currNum != null">
        curr_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="allPosition != null">
        #{allPosition,jdbcType=VARCHAR},
      </if>
      <if test="currPosition != null">
        #{currPosition,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="currNum != null">
        #{currNum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.coatardbul.stock.model.entity.StockTradeAssetPosition">
    <!--@mbg.generated-->
    update stock_trade_asset_position
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="allPosition != null">
        all_position = #{allPosition,jdbcType=VARCHAR},
      </if>
      <if test="currPosition != null">
        curr_position = #{currPosition,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        `date` = #{date,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="currNum != null">
        curr_num = #{currNum,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.coatardbul.stock.model.entity.StockTradeAssetPosition">
    <!--@mbg.generated-->
    update stock_trade_asset_position
    set `name` = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      all_position = #{allPosition,jdbcType=VARCHAR},
      curr_position = #{currPosition,jdbcType=VARCHAR},
      `date` = #{date,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=INTEGER},
      curr_num = #{currNum,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-07-19-->
  <select id="selectByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from stock_trade_asset_position
        <where>
            <if test="id != null">
                and id=#{id,jdbcType=VARCHAR}
            </if>
            <if test="name != null">
                and `name`=#{name,jdbcType=VARCHAR}
            </if>
            <if test="code != null">
                and code=#{code,jdbcType=VARCHAR}
            </if>
            <if test="allPosition != null">
                and all_position=#{allPosition,jdbcType=VARCHAR}
            </if>
            <if test="currPosition != null">
                and curr_position=#{currPosition,jdbcType=VARCHAR}
            </if>
            <if test="date != null">
                and `date`=#{date,jdbcType=VARCHAR}
            </if>
            <if test="type != null">
                and `type`=#{type,jdbcType=INTEGER}
            </if>
        </where>
    </select>

<!--auto generated by MybatisCodeHelper on 2022-08-04-->
  <select id="selectAllByCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from stock_trade_asset_position
        where code=#{code,jdbcType=VARCHAR}
    </select>

<!--auto generated by MybatisCodeHelper on 2022-09-18-->
  <delete id="deleteByCode">
        delete from stock_trade_asset_position
        where code=#{code,jdbcType=VARCHAR}
    </delete>
</mapper>