<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coatardbul.stock.mapper.StockBaseMapper">
  <resultMap id="BaseResultMap" type="com.coatardbul.baseCommon.model.entity.StockBase">
    <!--@mbg.generated-->
    <!--@Table stock_base-->
    <id column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="name_abbr" jdbcType="VARCHAR" property="nameAbbr" />
    <result column="industry" jdbcType="VARCHAR" property="industry" />
    <result column="theme" jdbcType="LONGVARCHAR" property="theme" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    code, `name`, name_abbr, industry, theme
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from stock_base
    where code = #{code,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from stock_base
    where code = #{code,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.coatardbul.baseCommon.model.entity.StockBase">
    <!--@mbg.generated-->
    insert into stock_base (code, `name`, name_abbr, 
      industry, theme)
    values (#{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{nameAbbr,jdbcType=VARCHAR}, 
      #{industry,jdbcType=VARCHAR}, #{theme,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.coatardbul.baseCommon.model.entity.StockBase">
    <!--@mbg.generated-->
    insert into stock_base
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null and code != ''">
        code,
      </if>
      <if test="name != null and name != ''">
        `name`,
      </if>
      <if test="nameAbbr != null and nameAbbr != ''">
        name_abbr,
      </if>
      <if test="industry != null and industry != ''">
        industry,
      </if>
      <if test="theme != null and theme != ''">
        theme,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null and code != ''">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null and name != ''">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="nameAbbr != null and nameAbbr != ''">
        #{nameAbbr,jdbcType=VARCHAR},
      </if>
      <if test="industry != null and industry != ''">
        #{industry,jdbcType=VARCHAR},
      </if>
      <if test="theme != null and theme != ''">
        #{theme,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.coatardbul.baseCommon.model.entity.StockBase">
    <!--@mbg.generated-->
    update stock_base
    <set>
      <if test="name != null and name != ''">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="nameAbbr != null and nameAbbr != ''">
        name_abbr = #{nameAbbr,jdbcType=VARCHAR},
      </if>
      <if test="industry != null and industry != ''">
        industry = #{industry,jdbcType=VARCHAR},
      </if>
      <if test="theme != null and theme != ''">
        theme = #{theme,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where code = #{code,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.coatardbul.baseCommon.model.entity.StockBase">
    <!--@mbg.generated-->
    update stock_base
    set `name` = #{name,jdbcType=VARCHAR},
      name_abbr = #{nameAbbr,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=VARCHAR},
      theme = #{theme,jdbcType=LONGVARCHAR}
    where code = #{code,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-09-08-->
  <select id="selectByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from stock_base
        <where>
            <if test="code != null and code != ''">
                and code=#{code,jdbcType=VARCHAR}
            </if>
            <if test="name != null and name != ''">
                and `name`=#{name,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

<!--auto generated by MybatisCodeHelper on 2022-09-18-->
  <select id="selectByCodeLike" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from stock_base
    where code like concat('%',#{likeCode,jdbcType=VARCHAR},'%')
    or  name_abbr like concat('%',#{likeCode,jdbcType=VARCHAR},'%')
  </select>
</mapper>