<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coatardbul.stock.mapper.StockUpLimitValPriceMapper">
  <resultMap id="BaseResultMap" type="com.coatardbul.stock.model.entity.StockUpLimitValPrice">
    <!--@mbg.generated-->
    <!--@Table stock_up_limit_val_price-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="begin_date" jdbcType="VARCHAR" property="beginDate" />
    <result column="end_date" jdbcType="VARCHAR" property="endDate" />
    <result column="object_array" jdbcType="LONGVARCHAR" property="objectArray" />
    <result column="strong_weak_array" jdbcType="LONGVARCHAR" property="strongWeakArray" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, code, `name`, begin_date, end_date, object_array, strong_weak_array
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from stock_up_limit_val_price
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from stock_up_limit_val_price
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.coatardbul.stock.model.entity.StockUpLimitValPrice">
    <!--@mbg.generated-->
    insert into stock_up_limit_val_price (id, code, `name`, 
      begin_date, end_date, object_array, 
      strong_weak_array)
    values (#{id,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{beginDate,jdbcType=VARCHAR}, #{endDate,jdbcType=VARCHAR}, #{objectArray,jdbcType=LONGVARCHAR}, 
      #{strongWeakArray,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.coatardbul.stock.model.entity.StockUpLimitValPrice">
    <!--@mbg.generated-->
    insert into stock_up_limit_val_price
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="beginDate != null">
        begin_date,
      </if>
      <if test="endDate != null">
        end_date,
      </if>
      <if test="objectArray != null">
        object_array,
      </if>
      <if test="strongWeakArray != null">
        strong_weak_array,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="beginDate != null">
        #{beginDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="objectArray != null">
        #{objectArray,jdbcType=LONGVARCHAR},
      </if>
      <if test="strongWeakArray != null">
        #{strongWeakArray,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.coatardbul.stock.model.entity.StockUpLimitValPrice">
    <!--@mbg.generated-->
    update stock_up_limit_val_price
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="beginDate != null">
        begin_date = #{beginDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null">
        end_date = #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="objectArray != null">
        object_array = #{objectArray,jdbcType=LONGVARCHAR},
      </if>
      <if test="strongWeakArray != null">
        strong_weak_array = #{strongWeakArray,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.coatardbul.stock.model.entity.StockUpLimitValPrice">
    <!--@mbg.generated-->
    update stock_up_limit_val_price
    set code = #{code,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      begin_date = #{beginDate,jdbcType=VARCHAR},
      end_date = #{endDate,jdbcType=VARCHAR},
      object_array = #{objectArray,jdbcType=LONGVARCHAR},
      strong_weak_array = #{strongWeakArray,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-04-04-->
  <delete id="deleteByCode">
        delete from stock_up_limit_val_price
        where code=#{code,jdbcType=VARCHAR}
    </delete>

<!--auto generated by MybatisCodeHelper on 2022-04-04-->
  <select id="selectAllByCode" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from stock_up_limit_val_price
    where code=#{code,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2022-04-05-->
  <select id="selectAllByCodeAndBeginDateLessThanEqualAndEndDateGreaterThanEqual" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from stock_up_limit_val_price
    <where>
      <if test="code != null and code != ''">
        and code=#{code,jdbcType=VARCHAR}
      </if>
      <if test="maxBeginDate != null and maxBeginDate != ''">
        and begin_date <![CDATA[<=]]> #{maxBeginDate,jdbcType=VARCHAR}
        and end_date <![CDATA[>=]]> #{maxBeginDate,jdbcType=VARCHAR}
      </if>

    </where>
  </select>

<!--auto generated by MybatisCodeHelper on 2022-04-10-->
  <select id="selectAllByName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from stock_up_limit_val_price
    where `name`=#{name,jdbcType=VARCHAR}
  </select>
</mapper>