<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coatardbul.stock.mapper.StockScatterStaticMapper">
  <resultMap id="BaseResultMap" type="com.coatardbul.stock.model.entity.StockScatterStatic">
    <!--@mbg.generated-->
    <!--@Table stock_scatter_static-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="object_static_Array" jdbcType="LONGVARCHAR" property="objectStaticArray" />
    <result column="object_sign" jdbcType="VARCHAR" property="objectSign" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `date`, object_static_Array, object_sign, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from stock_scatter_static
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from stock_scatter_static
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.coatardbul.stock.model.entity.StockScatterStatic">
    <!--@mbg.generated-->
    insert into stock_scatter_static (id, `date`, object_static_Array, 
      object_sign, remark)
    values (#{id,jdbcType=VARCHAR}, #{date,jdbcType=VARCHAR}, #{objectStaticArray,jdbcType=LONGVARCHAR}, 
      #{objectSign,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.coatardbul.stock.model.entity.StockScatterStatic">
    <!--@mbg.generated-->
    insert into stock_scatter_static
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="date != null">
        `date`,
      </if>
      <if test="objectStaticArray != null">
        object_static_Array,
      </if>
      <if test="objectSign != null">
        object_sign,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="objectStaticArray != null">
        #{objectStaticArray,jdbcType=LONGVARCHAR},
      </if>
      <if test="objectSign != null">
        #{objectSign,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.coatardbul.stock.model.entity.StockScatterStatic">
    <!--@mbg.generated-->
    update stock_scatter_static
    <set>
      <if test="date != null">
        `date` = #{date,jdbcType=VARCHAR},
      </if>
      <if test="objectStaticArray != null">
        object_static_Array = #{objectStaticArray,jdbcType=LONGVARCHAR},
      </if>
      <if test="objectSign != null">
        object_sign = #{objectSign,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.coatardbul.stock.model.entity.StockScatterStatic">
    <!--@mbg.generated-->
    update stock_scatter_static
    set `date` = #{date,jdbcType=VARCHAR},
      object_static_Array = #{objectStaticArray,jdbcType=LONGVARCHAR},
      object_sign = #{objectSign,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-03-01-->
  <delete id="deleteByDateAndObjectSign">
        delete from stock_scatter_static
        where `date`=#{date,jdbcType=VARCHAR} and object_sign=#{objectSign,jdbcType=VARCHAR}
    </delete>

<!--auto generated by MybatisCodeHelper on 2022-03-02-->
  <select id="selectAllByDateAndObjectSign" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from stock_scatter_static
    where `date`=#{date,jdbcType=VARCHAR} and object_sign=#{objectSign,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2022-03-02-->
  <select id="selectAllByDateBetweenEqualAndObjectSign" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from stock_scatter_static
    <where>
      <if test="minDate != null">
        and `date` <![CDATA[>=]]> #{minDate,jdbcType=VARCHAR}
      </if>
      <if test="maxDate != null">
        and `date` <![CDATA[<=]]> #{maxDate,jdbcType=VARCHAR}
      </if>
      <if test="objectSign != null">
        and object_sign=#{objectSign,jdbcType=VARCHAR}
      </if>
    </where>
    order by  date asc
  </select>
</mapper>