<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coatardbul.stock.mapper.StockTradeBuyTaskMapper">
  <resultMap id="BaseResultMap" type="com.coatardbul.baseService.entity.bo.StockTradeBuyTask">
    <!--@mbg.generated-->
    <!--@Table stock_trade_buy_task-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="strategy_sign" jdbcType="VARCHAR" property="strategySign" />
    <result column="strategy_name" jdbcType="VARCHAR" property="strategyName" />
    <result column="strategy_param" jdbcType="VARCHAR" property="strategyParam" />
    <result column="job_name" jdbcType="VARCHAR" property="jobName" />
    <result column="cron" jdbcType="VARCHAR" property="cron" />
    <result column="trade_amount" jdbcType="VARCHAR" property="tradeAmount" />
    <result column="stock_code" jdbcType="VARCHAR" property="stockCode" />
    <result column="stock_name" jdbcType="VARCHAR" property="stockName" />
    <result column="trade_num" jdbcType="VARCHAR" property="tradeNum" />
    <result column="trade_price" jdbcType="VARCHAR" property="tradePrice" />
    <result column="trade_user_id" jdbcType="VARCHAR" property="tradeUserId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, strategy_sign, strategy_name, strategy_param, job_name, cron, trade_amount, stock_code, 
    stock_name, trade_num, trade_price, trade_user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from stock_trade_buy_task
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from stock_trade_buy_task
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.coatardbul.baseService.entity.bo.StockTradeBuyTask">
    <!--@mbg.generated-->
    insert into stock_trade_buy_task (id, strategy_sign, strategy_name, 
      strategy_param, job_name, cron, 
      trade_amount, stock_code, stock_name, 
      trade_num, trade_price, trade_user_id
      )
    values (#{id,jdbcType=VARCHAR}, #{strategySign,jdbcType=VARCHAR}, #{strategyName,jdbcType=VARCHAR}, 
      #{strategyParam,jdbcType=VARCHAR}, #{jobName,jdbcType=VARCHAR}, #{cron,jdbcType=VARCHAR}, 
      #{tradeAmount,jdbcType=VARCHAR}, #{stockCode,jdbcType=VARCHAR}, #{stockName,jdbcType=VARCHAR}, 
      #{tradeNum,jdbcType=VARCHAR}, #{tradePrice,jdbcType=VARCHAR}, #{tradeUserId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.coatardbul.baseService.entity.bo.StockTradeBuyTask">
    <!--@mbg.generated-->
    insert into stock_trade_buy_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null and id != ''">
        id,
      </if>
      <if test="strategySign != null and strategySign != ''">
        strategy_sign,
      </if>
      <if test="strategyName != null and strategyName != ''">
        strategy_name,
      </if>
      <if test="strategyParam != null and strategyParam != ''">
        strategy_param,
      </if>
      <if test="jobName != null and jobName != ''">
        job_name,
      </if>
      <if test="cron != null and cron != ''">
        cron,
      </if>
      <if test="tradeAmount != null and tradeAmount != ''">
        trade_amount,
      </if>
      <if test="stockCode != null and stockCode != ''">
        stock_code,
      </if>
      <if test="stockName != null and stockName != ''">
        stock_name,
      </if>
      <if test="tradeNum != null and tradeNum != ''">
        trade_num,
      </if>
      <if test="tradePrice != null and tradePrice != ''">
        trade_price,
      </if>
      <if test="tradeUserId != null and tradeUserId != ''">
        trade_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null and id != ''">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="strategySign != null and strategySign != ''">
        #{strategySign,jdbcType=VARCHAR},
      </if>
      <if test="strategyName != null and strategyName != ''">
        #{strategyName,jdbcType=VARCHAR},
      </if>
      <if test="strategyParam != null and strategyParam != ''">
        #{strategyParam,jdbcType=VARCHAR},
      </if>
      <if test="jobName != null and jobName != ''">
        #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="cron != null and cron != ''">
        #{cron,jdbcType=VARCHAR},
      </if>
      <if test="tradeAmount != null and tradeAmount != ''">
        #{tradeAmount,jdbcType=VARCHAR},
      </if>
      <if test="stockCode != null and stockCode != ''">
        #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="stockName != null and stockName != ''">
        #{stockName,jdbcType=VARCHAR},
      </if>
      <if test="tradeNum != null and tradeNum != ''">
        #{tradeNum,jdbcType=VARCHAR},
      </if>
      <if test="tradePrice != null and tradePrice != ''">
        #{tradePrice,jdbcType=VARCHAR},
      </if>
      <if test="tradeUserId != null and tradeUserId != ''">
        #{tradeUserId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.coatardbul.baseService.entity.bo.StockTradeBuyTask">
    <!--@mbg.generated-->
    update stock_trade_buy_task
    <set>
      <if test="strategySign != null and strategySign != ''">
        strategy_sign = #{strategySign,jdbcType=VARCHAR},
      </if>
      <if test="strategyName != null and strategyName != ''">
        strategy_name = #{strategyName,jdbcType=VARCHAR},
      </if>
      <if test="strategyParam != null and strategyParam != ''">
        strategy_param = #{strategyParam,jdbcType=VARCHAR},
      </if>
      <if test="jobName != null and jobName != ''">
        job_name = #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="cron != null and cron != ''">
        cron = #{cron,jdbcType=VARCHAR},
      </if>
      <if test="tradeAmount != null and tradeAmount != ''">
        trade_amount = #{tradeAmount,jdbcType=VARCHAR},
      </if>
      <if test="stockCode != null and stockCode != ''">
        stock_code = #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="stockName != null and stockName != ''">
        stock_name = #{stockName,jdbcType=VARCHAR},
      </if>
      <if test="tradeNum != null and tradeNum != ''">
        trade_num = #{tradeNum,jdbcType=VARCHAR},
      </if>
      <if test="tradePrice != null and tradePrice != ''">
        trade_price = #{tradePrice,jdbcType=VARCHAR},
      </if>
      <if test="tradeUserId != null and tradeUserId != ''">
        trade_user_id = #{tradeUserId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.coatardbul.baseService.entity.bo.StockTradeBuyTask">
    <!--@mbg.generated-->
    update stock_trade_buy_task
    set strategy_sign = #{strategySign,jdbcType=VARCHAR},
      strategy_name = #{strategyName,jdbcType=VARCHAR},
      strategy_param = #{strategyParam,jdbcType=VARCHAR},
      job_name = #{jobName,jdbcType=VARCHAR},
      cron = #{cron,jdbcType=VARCHAR},
      trade_amount = #{tradeAmount,jdbcType=VARCHAR},
      stock_code = #{stockCode,jdbcType=VARCHAR},
      stock_name = #{stockName,jdbcType=VARCHAR},
      trade_num = #{tradeNum,jdbcType=VARCHAR},
      trade_price = #{tradePrice,jdbcType=VARCHAR},
      trade_user_id = #{tradeUserId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-07-19-->
  <select id="selectByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from stock_trade_buy_task
        <where>
            <if test="id != null">
                and id=#{id,jdbcType=VARCHAR}
            </if>
            <if test="strategySign != null">
                and strategy_sign=#{strategySign,jdbcType=VARCHAR}
            </if>
            <if test="strategyName != null">
                and strategy_name=#{strategyName,jdbcType=VARCHAR}
            </if>
            <if test="strategyParam != null">
                and strategy_param=#{strategyParam,jdbcType=VARCHAR}
            </if>
            <if test="jobName != null">
                and job_name=#{jobName,jdbcType=VARCHAR}
            </if>
            <if test="cron != null">
                and cron=#{cron,jdbcType=VARCHAR}
            </if>
            <if test="tradeAmount != null">
                and trade_amount=#{tradeAmount,jdbcType=VARCHAR}
            </if>
            <if test="stockCode != null">
                and stock_code=#{stockCode,jdbcType=VARCHAR}
            </if>
            <if test="stockName != null">
                and stock_name=#{stockName,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>