<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coatardbul.stock.mapper.StockDefineStaticMapper">
  <resultMap id="BaseResultMap" type="com.coatardbul.stock.model.entity.StockDefineStatic">
    <!--@mbg.generated-->
    <!--@Table stock_define_static-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="median" jdbcType="VARCHAR" property="median" />
    <result column="std" jdbcType="VARCHAR" property="std" />
    <result column="object_sign" jdbcType="VARCHAR" property="objectSign" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `date`, `name`, median, std, object_sign
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from stock_define_static
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from stock_define_static
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.coatardbul.stock.model.entity.StockDefineStatic">
    <!--@mbg.generated-->
    insert into stock_define_static (id, `date`, `name`, 
      median, std, object_sign
      )
    values (#{id,jdbcType=VARCHAR}, #{date,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{median,jdbcType=VARCHAR}, #{std,jdbcType=VARCHAR}, #{objectSign,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.coatardbul.stock.model.entity.StockDefineStatic">
    <!--@mbg.generated-->
    insert into stock_define_static
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="date != null">
        `date`,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="median != null">
        median,
      </if>
      <if test="std != null">
        std,
      </if>
      <if test="objectSign != null">
        object_sign,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="median != null">
        #{median,jdbcType=VARCHAR},
      </if>
      <if test="std != null">
        #{std,jdbcType=VARCHAR},
      </if>
      <if test="objectSign != null">
        #{objectSign,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.coatardbul.stock.model.entity.StockDefineStatic">
    <!--@mbg.generated-->
    update stock_define_static
    <set>
      <if test="date != null">
        `date` = #{date,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="median != null">
        median = #{median,jdbcType=VARCHAR},
      </if>
      <if test="std != null">
        std = #{std,jdbcType=VARCHAR},
      </if>
      <if test="objectSign != null">
        object_sign = #{objectSign,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.coatardbul.stock.model.entity.StockDefineStatic">
    <!--@mbg.generated-->
    update stock_define_static
    set `date` = #{date,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      median = #{median,jdbcType=VARCHAR},
      std = #{std,jdbcType=VARCHAR},
      object_sign = #{objectSign,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-07-05-->
  <select id="selectAllByDateAndObjectSign" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from stock_define_static
        where `date`=#{date,jdbcType=VARCHAR} and object_sign=#{objectSign,jdbcType=VARCHAR}
    </select>

<!--auto generated by MybatisCodeHelper on 2022-07-05-->
  <select id="selectAllByDateBetweenEqualAndObjectSign" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from stock_define_static
    where `date` <![CDATA[>=]]> #{minDate,jdbcType=VARCHAR} and `date` <![CDATA[<=]]> #{maxDate,jdbcType=VARCHAR} and
    object_sign=#{objectSign,jdbcType=VARCHAR}
    order by date asc
  </select>

<!--auto generated by MybatisCodeHelper on 2022-07-05-->
  <delete id="deleteByDateAndObjectSign">
    delete from stock_define_static
    where `date`=#{date,jdbcType=VARCHAR} and object_sign=#{objectSign,jdbcType=VARCHAR}
  </delete>
</mapper>