<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coatardbul.stock.mapper.StockStaticTemplateMapper">
  <resultMap id="BaseResultMap" type="com.coatardbul.stock.model.entity.StockStaticTemplate">
    <!--@mbg.generated-->
    <!--@Table stock_static_template-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="static_latitude" jdbcType="VARCHAR" property="staticLatitude" />
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
    <result column="order_by" jdbcType="LONGVARCHAR" property="orderBy" />
    <result column="object_sign" jdbcType="VARCHAR" property="objectSign" />
    <result column="object_str" jdbcType="LONGVARCHAR" property="objectStr" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, static_latitude, remark, order_by, object_sign, object_str
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from stock_static_template
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from stock_static_template
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.coatardbul.stock.model.entity.StockStaticTemplate">
    <!--@mbg.generated-->
    insert into stock_static_template (id, static_latitude, remark, 
      order_by, object_sign, object_str
      )
    values (#{id,jdbcType=VARCHAR}, #{staticLatitude,jdbcType=VARCHAR}, #{remark,jdbcType=LONGVARCHAR}, 
      #{orderBy,jdbcType=LONGVARCHAR}, #{objectSign,jdbcType=VARCHAR}, #{objectStr,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.coatardbul.stock.model.entity.StockStaticTemplate">
    <!--@mbg.generated-->
    insert into stock_static_template
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="staticLatitude != null">
        static_latitude,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="orderBy != null">
        order_by,
      </if>
      <if test="objectSign != null">
        object_sign,
      </if>
      <if test="objectStr != null">
        object_str,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="staticLatitude != null">
        #{staticLatitude,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
      <if test="orderBy != null">
        #{orderBy,jdbcType=LONGVARCHAR},
      </if>
      <if test="objectSign != null">
        #{objectSign,jdbcType=VARCHAR},
      </if>
      <if test="objectStr != null">
        #{objectStr,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.coatardbul.stock.model.entity.StockStaticTemplate">
    <!--@mbg.generated-->
    update stock_static_template
    <set>
      <if test="staticLatitude != null">
        static_latitude = #{staticLatitude,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
      <if test="orderBy != null">
        order_by = #{orderBy,jdbcType=LONGVARCHAR},
      </if>
      <if test="objectSign != null">
        object_sign = #{objectSign,jdbcType=VARCHAR},
      </if>
      <if test="objectStr != null">
        object_str = #{objectStr,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.coatardbul.stock.model.entity.StockStaticTemplate">
    <!--@mbg.generated-->
    update stock_static_template
    set static_latitude = #{staticLatitude,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=LONGVARCHAR},
      order_by = #{orderBy,jdbcType=LONGVARCHAR},
      object_sign = #{objectSign,jdbcType=VARCHAR},
      object_str = #{objectStr,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-02-11-->
  <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from stock_static_template

    </select>

<!--auto generated by MybatisCodeHelper on 2022-02-11-->
  <select id="selectAllByObjectSign" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from stock_static_template
        where object_sign=#{objectSign,jdbcType=VARCHAR}
    </select>

<!--auto generated by MybatisCodeHelper on 2022-04-08-->
  <select id="selectAllByStaticLatitudeAndObjectSignAndRemarkLike" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from stock_static_template
        <where>
            <if test="staticLatitude != null and staticLatitude != ''">
                and static_latitude=#{staticLatitude,jdbcType=VARCHAR}
            </if>
            <if test="objectSign != null and objectSign != ''">
                and object_sign=#{objectSign,jdbcType=VARCHAR}
            </if>
            <if test="likeRemark != null and likeRemark != ''">
                and remark like concat('%',#{likeRemark,jdbcType=LONGVARCHAR},'%')
            </if>
        </where>
    </select>
</mapper>