<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coatardbul.stock.mapper.StockTradeAiStrategyMapper">
  <resultMap id="BaseResultMap" type="com.coatardbul.stock.model.entity.StockTradeAiStrategy">
    <!--@mbg.generated-->
    <!--@Table stock_trade_ai_strategy-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="strategy_name" jdbcType="VARCHAR" property="strategyName" />
    <result column="strategy_sign" jdbcType="VARCHAR" property="strategySign" />
    <result column="trade_flag" jdbcType="INTEGER" property="tradeFlag" />
    <result column="param_object" jdbcType="LONGVARCHAR" property="paramObject" />
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, strategy_name, strategy_sign, trade_flag, param_object, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from stock_trade_ai_strategy
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from stock_trade_ai_strategy
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.coatardbul.stock.model.entity.StockTradeAiStrategy">
    <!--@mbg.generated-->
    insert into stock_trade_ai_strategy (id, strategy_name, strategy_sign, 
      trade_flag, param_object, remark
      )
    values (#{id,jdbcType=VARCHAR}, #{strategyName,jdbcType=VARCHAR}, #{strategySign,jdbcType=VARCHAR}, 
      #{tradeFlag,jdbcType=INTEGER}, #{paramObject,jdbcType=LONGVARCHAR}, #{remark,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.coatardbul.stock.model.entity.StockTradeAiStrategy">
    <!--@mbg.generated-->
    insert into stock_trade_ai_strategy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null and id != ''">
        id,
      </if>
      <if test="strategyName != null and strategyName != ''">
        strategy_name,
      </if>
      <if test="strategySign != null and strategySign != ''">
        strategy_sign,
      </if>
      <if test="tradeFlag != null">
        trade_flag,
      </if>
      <if test="paramObject != null and paramObject != ''">
        param_object,
      </if>
      <if test="remark != null and remark != ''">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null and id != ''">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="strategyName != null and strategyName != ''">
        #{strategyName,jdbcType=VARCHAR},
      </if>
      <if test="strategySign != null and strategySign != ''">
        #{strategySign,jdbcType=VARCHAR},
      </if>
      <if test="tradeFlag != null">
        #{tradeFlag,jdbcType=INTEGER},
      </if>
      <if test="paramObject != null and paramObject != ''">
        #{paramObject,jdbcType=LONGVARCHAR},
      </if>
      <if test="remark != null and remark != ''">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.coatardbul.stock.model.entity.StockTradeAiStrategy">
    <!--@mbg.generated-->
    update stock_trade_ai_strategy
    <set>
      <if test="strategyName != null and strategyName != ''">
        strategy_name = #{strategyName,jdbcType=VARCHAR},
      </if>
      <if test="strategySign != null and strategySign != ''">
        strategy_sign = #{strategySign,jdbcType=VARCHAR},
      </if>
      <if test="tradeFlag != null">
        trade_flag = #{tradeFlag,jdbcType=INTEGER},
      </if>
      <if test="paramObject != null and paramObject != ''">
        param_object = #{paramObject,jdbcType=LONGVARCHAR},
      </if>
      <if test="remark != null and remark != ''">
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.coatardbul.stock.model.entity.StockTradeAiStrategy">
    <!--@mbg.generated-->
    update stock_trade_ai_strategy
    set strategy_name = #{strategyName,jdbcType=VARCHAR},
      strategy_sign = #{strategySign,jdbcType=VARCHAR},
      trade_flag = #{tradeFlag,jdbcType=INTEGER},
      param_object = #{paramObject,jdbcType=LONGVARCHAR},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-12-08-->
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from stock_trade_ai_strategy

  </select>
</mapper>