<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coatardbul.stock.mapper.StockTemplatePredictMapper">
  <resultMap id="BaseResultMap" type="com.coatardbul.baseService.entity.bo.StockTemplatePredict">
    <!--@mbg.generated-->
    <!--@Table stock_template_predict-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="templated_id" jdbcType="VARCHAR" property="templatedId" />
    <result column="templated_sign" jdbcType="VARCHAR" property="templatedSign" />
    <result column="buy_time" jdbcType="VARCHAR" property="buyTime" />
    <result column="buy_price" jdbcType="DECIMAL" property="buyPrice" />
    <result column="buy_increase_rate" jdbcType="DECIMAL" property="buyIncreaseRate" />
    <result column="close_increase_rate" jdbcType="DECIMAL" property="closeIncreaseRate" />
    <result column="hold_day" jdbcType="INTEGER" property="holdDay" />
    <result column="sale_time" jdbcType="VARCHAR" property="saleTime" />
    <result column="sale_price" jdbcType="DECIMAL" property="salePrice" />
    <result column="market_value" jdbcType="DECIMAL" property="marketValue" />
    <result column="detail" jdbcType="LONGVARCHAR" property="detail" />
    <result column="turnover_rate" jdbcType="DECIMAL" property="turnoverRate" />
    <result column="concentration_ratio" jdbcType="VARCHAR" property="concentrationRatio" />
    <result column="earn_profit" jdbcType="VARCHAR" property="earnProfit" />
    <result column="jetton_cost" jdbcType="DECIMAL" property="jettonCost" />
    <result column="last_concentration_ratio" jdbcType="VARCHAR" property="lastConcentrationRatio" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, code, `name`, `date`, templated_id, templated_sign, buy_time, buy_price, buy_increase_rate, 
    close_increase_rate, hold_day, sale_time, sale_price, market_value, detail, turnover_rate, 
    concentration_ratio, earn_profit, jetton_cost, last_concentration_ratio
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from stock_template_predict
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from stock_template_predict
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.coatardbul.baseService.entity.bo.StockTemplatePredict">
    <!--@mbg.generated-->
    insert into stock_template_predict (id, code, `name`, 
      `date`, templated_id, templated_sign, 
      buy_time, buy_price, buy_increase_rate, 
      close_increase_rate, hold_day, sale_time, 
      sale_price, market_value, detail, 
      turnover_rate, concentration_ratio, earn_profit, 
      jetton_cost, last_concentration_ratio)
    values (#{id,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{date,jdbcType=VARCHAR}, #{templatedId,jdbcType=VARCHAR}, #{templatedSign,jdbcType=VARCHAR}, 
      #{buyTime,jdbcType=VARCHAR}, #{buyPrice,jdbcType=DECIMAL}, #{buyIncreaseRate,jdbcType=DECIMAL}, 
      #{closeIncreaseRate,jdbcType=DECIMAL}, #{holdDay,jdbcType=INTEGER}, #{saleTime,jdbcType=VARCHAR}, 
      #{salePrice,jdbcType=DECIMAL}, #{marketValue,jdbcType=DECIMAL}, #{detail,jdbcType=LONGVARCHAR}, 
      #{turnoverRate,jdbcType=DECIMAL}, #{concentrationRatio,jdbcType=VARCHAR}, #{earnProfit,jdbcType=VARCHAR}, 
      #{jettonCost,jdbcType=DECIMAL}, #{lastConcentrationRatio,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.coatardbul.baseService.entity.bo.StockTemplatePredict">
    <!--@mbg.generated-->
    insert into stock_template_predict
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null and id != ''">
        id,
      </if>
      <if test="code != null and code != ''">
        code,
      </if>
      <if test="name != null and name != ''">
        `name`,
      </if>
      <if test="date != null and date != ''">
        `date`,
      </if>
      <if test="templatedId != null and templatedId != ''">
        templated_id,
      </if>
      <if test="templatedSign != null and templatedSign != ''">
        templated_sign,
      </if>
      <if test="buyTime != null and buyTime != ''">
        buy_time,
      </if>
      <if test="buyPrice != null">
        buy_price,
      </if>
      <if test="buyIncreaseRate != null">
        buy_increase_rate,
      </if>
      <if test="closeIncreaseRate != null">
        close_increase_rate,
      </if>
      <if test="holdDay != null">
        hold_day,
      </if>
      <if test="saleTime != null and saleTime != ''">
        sale_time,
      </if>
      <if test="salePrice != null">
        sale_price,
      </if>
      <if test="marketValue != null">
        market_value,
      </if>
      <if test="detail != null and detail != ''">
        detail,
      </if>
      <if test="turnoverRate != null">
        turnover_rate,
      </if>
      <if test="concentrationRatio != null and concentrationRatio != ''">
        concentration_ratio,
      </if>
      <if test="earnProfit != null and earnProfit != ''">
        earn_profit,
      </if>
      <if test="jettonCost != null">
        jetton_cost,
      </if>
      <if test="lastConcentrationRatio != null and lastConcentrationRatio != ''">
        last_concentration_ratio,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null and id != ''">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="code != null and code != ''">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null and name != ''">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="date != null and date != ''">
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="templatedId != null and templatedId != ''">
        #{templatedId,jdbcType=VARCHAR},
      </if>
      <if test="templatedSign != null and templatedSign != ''">
        #{templatedSign,jdbcType=VARCHAR},
      </if>
      <if test="buyTime != null and buyTime != ''">
        #{buyTime,jdbcType=VARCHAR},
      </if>
      <if test="buyPrice != null">
        #{buyPrice,jdbcType=DECIMAL},
      </if>
      <if test="buyIncreaseRate != null">
        #{buyIncreaseRate,jdbcType=DECIMAL},
      </if>
      <if test="closeIncreaseRate != null">
        #{closeIncreaseRate,jdbcType=DECIMAL},
      </if>
      <if test="holdDay != null">
        #{holdDay,jdbcType=INTEGER},
      </if>
      <if test="saleTime != null and saleTime != ''">
        #{saleTime,jdbcType=VARCHAR},
      </if>
      <if test="salePrice != null">
        #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="marketValue != null">
        #{marketValue,jdbcType=DECIMAL},
      </if>
      <if test="detail != null and detail != ''">
        #{detail,jdbcType=LONGVARCHAR},
      </if>
      <if test="turnoverRate != null">
        #{turnoverRate,jdbcType=DECIMAL},
      </if>
      <if test="concentrationRatio != null and concentrationRatio != ''">
        #{concentrationRatio,jdbcType=VARCHAR},
      </if>
      <if test="earnProfit != null and earnProfit != ''">
        #{earnProfit,jdbcType=VARCHAR},
      </if>
      <if test="jettonCost != null">
        #{jettonCost,jdbcType=DECIMAL},
      </if>
      <if test="lastConcentrationRatio != null and lastConcentrationRatio != ''">
        #{lastConcentrationRatio,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.coatardbul.baseService.entity.bo.StockTemplatePredict">
    <!--@mbg.generated-->
    update stock_template_predict
    <set>
      <if test="code != null and code != ''">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null and name != ''">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="date != null and date != ''">
        `date` = #{date,jdbcType=VARCHAR},
      </if>
      <if test="templatedId != null and templatedId != ''">
        templated_id = #{templatedId,jdbcType=VARCHAR},
      </if>
      <if test="templatedSign != null and templatedSign != ''">
        templated_sign = #{templatedSign,jdbcType=VARCHAR},
      </if>
      <if test="buyTime != null and buyTime != ''">
        buy_time = #{buyTime,jdbcType=VARCHAR},
      </if>
      <if test="buyPrice != null">
        buy_price = #{buyPrice,jdbcType=DECIMAL},
      </if>
      <if test="buyIncreaseRate != null">
        buy_increase_rate = #{buyIncreaseRate,jdbcType=DECIMAL},
      </if>
      <if test="closeIncreaseRate != null">
        close_increase_rate = #{closeIncreaseRate,jdbcType=DECIMAL},
      </if>
      <if test="holdDay != null">
        hold_day = #{holdDay,jdbcType=INTEGER},
      </if>
      <if test="saleTime != null and saleTime != ''">
        sale_time = #{saleTime,jdbcType=VARCHAR},
      </if>
      <if test="salePrice != null">
        sale_price = #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="marketValue != null">
        market_value = #{marketValue,jdbcType=DECIMAL},
      </if>
      <if test="detail != null and detail != ''">
        detail = #{detail,jdbcType=LONGVARCHAR},
      </if>
      <if test="turnoverRate != null">
        turnover_rate = #{turnoverRate,jdbcType=DECIMAL},
      </if>
      <if test="concentrationRatio != null and concentrationRatio != ''">
        concentration_ratio = #{concentrationRatio,jdbcType=VARCHAR},
      </if>
      <if test="earnProfit != null and earnProfit != ''">
        earn_profit = #{earnProfit,jdbcType=VARCHAR},
      </if>
      <if test="jettonCost != null">
        jetton_cost = #{jettonCost,jdbcType=DECIMAL},
      </if>
      <if test="lastConcentrationRatio != null and lastConcentrationRatio != ''">
        last_concentration_ratio = #{lastConcentrationRatio,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.coatardbul.baseService.entity.bo.StockTemplatePredict">
    <!--@mbg.generated-->
    update stock_template_predict
    set code = #{code,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      `date` = #{date,jdbcType=VARCHAR},
      templated_id = #{templatedId,jdbcType=VARCHAR},
      templated_sign = #{templatedSign,jdbcType=VARCHAR},
      buy_time = #{buyTime,jdbcType=VARCHAR},
      buy_price = #{buyPrice,jdbcType=DECIMAL},
      buy_increase_rate = #{buyIncreaseRate,jdbcType=DECIMAL},
      close_increase_rate = #{closeIncreaseRate,jdbcType=DECIMAL},
      hold_day = #{holdDay,jdbcType=INTEGER},
      sale_time = #{saleTime,jdbcType=VARCHAR},
      sale_price = #{salePrice,jdbcType=DECIMAL},
      market_value = #{marketValue,jdbcType=DECIMAL},
      detail = #{detail,jdbcType=LONGVARCHAR},
      turnover_rate = #{turnoverRate,jdbcType=DECIMAL},
      concentration_ratio = #{concentrationRatio,jdbcType=VARCHAR},
      earn_profit = #{earnProfit,jdbcType=VARCHAR},
      jetton_cost = #{jettonCost,jdbcType=DECIMAL},
      last_concentration_ratio = #{lastConcentrationRatio,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

    <!--auto generated by MybatisCodeHelper on 2022-04-04-->
    <delete id="deleteByDateAndTempatedId">
        delete
        from stock_template_predict
        where `date` = #{date,jdbcType=VARCHAR}
          and templated_id = #{tempatedId,jdbcType=VARCHAR}
    </delete>

    <!--auto generated by MybatisCodeHelper on 2022-04-04-->
    <select id="selectAllByDateBetweenEqualAndTemplatedIdAndHoldDay" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from stock_template_predict
        <where>
            `date` <![CDATA[>=]]> #{minDate,jdbcType=VARCHAR}
              and `date` <![CDATA[<=]]> #{maxDate,jdbcType=VARCHAR}
            <if test="templatedId != null and templatedId != ''">
                and templated_id = #{templatedId,jdbcType=VARCHAR}
            </if>
            <if test="templatedSign != null and templatedSign != ''">
                and templated_sign = #{templatedSign,jdbcType=VARCHAR}
            </if>
            <if test="holdDay != null">
                and hold_day = #{holdDay,jdbcType=INTEGER}
            </if>

            order by date asc
        </where>
    </select>

    <!--auto generated by MybatisCodeHelper on 2022-06-01-->
    <delete id="deleteByTemplatedIdAndHoldDayAndDateBetweenEqual">
        delete
        from stock_template_predict
        where
        2&gt;1
        <if test="templatedId != null and templatedId != ''">
            and  templated_id = #{templatedId,jdbcType=VARCHAR}
        </if>
        <if test="holdDay != null">
            and hold_day = #{holdDay,jdbcType=INTEGER}
        </if>
        and date
        <![CDATA[>=]]> #{minBuyTime,jdbcType=VARCHAR}
        and date <![CDATA[<=]]> #{maxBuyTime,jdbcType=VARCHAR}
    </delete>

    <!--auto generated by MybatisCodeHelper on 2022-06-11-->
    <select id="selectAllByDateAndTemplatedIdAndCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from stock_template_predict
        where `date` = #{date,jdbcType=VARCHAR}
          and templated_id = #{templatedId,jdbcType=VARCHAR}
          and code = #{code,jdbcType=VARCHAR}
    </select>

    <!--auto generated by MybatisCodeHelper on 2022-06-11-->
    <select id="selectAllByDateAndTemplatedIdAndCodeAndBuyTimeGreaterThan" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from stock_template_predict
        where `date` = #{date,jdbcType=VARCHAR}
          and templated_id = #{templatedId,jdbcType=VARCHAR}
          and code = #{code,jdbcType=VARCHAR}
          and buy_time <![CDATA[>]]> #{minBuyTime,jdbcType=VARCHAR}
    </select>

    <!--auto generated by MybatisCodeHelper on 2022-06-11-->
    <delete id="deleteByDateAndTemplatedIdAndCode">
        delete
        from stock_template_predict
        where `date` = #{date,jdbcType=VARCHAR}
          and templated_id = #{templatedId,jdbcType=VARCHAR}
          and code = #{code,jdbcType=VARCHAR}
    </delete>
</mapper>