<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coatardbul.stock.mapper.StockWarnLogMapper">
  <resultMap id="BaseResultMap" type="com.coatardbul.stock.model.entity.StockWarnLog">
    <!--@mbg.generated-->
    <!--@Table stock_warn_log-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="stock_code" jdbcType="VARCHAR" property="stockCode" />
    <result column="stock_name" jdbcType="VARCHAR" property="stockName" />
    <result column="template_id" jdbcType="VARCHAR" property="templateId" />
    <result column="template_name" jdbcType="VARCHAR" property="templateName" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, stock_code, stock_name, template_id, template_name, `date`, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from stock_warn_log
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from stock_warn_log
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.coatardbul.stock.model.entity.StockWarnLog">
    <!--@mbg.generated-->
    insert into stock_warn_log (id, stock_code, stock_name, 
      template_id, template_name, `date`, 
      create_time)
    values (#{id,jdbcType=VARCHAR}, #{stockCode,jdbcType=VARCHAR}, #{stockName,jdbcType=VARCHAR}, 
      #{templateId,jdbcType=VARCHAR}, #{templateName,jdbcType=VARCHAR}, #{date,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.coatardbul.stock.model.entity.StockWarnLog">
    <!--@mbg.generated-->
    insert into stock_warn_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="stockCode != null">
        stock_code,
      </if>
      <if test="stockName != null">
        stock_name,
      </if>
      <if test="templateId != null">
        template_id,
      </if>
      <if test="templateName != null">
        template_name,
      </if>
      <if test="date != null">
        `date`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="stockCode != null">
        #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="stockName != null">
        #{stockName,jdbcType=VARCHAR},
      </if>
      <if test="templateId != null">
        #{templateId,jdbcType=VARCHAR},
      </if>
      <if test="templateName != null">
        #{templateName,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.coatardbul.stock.model.entity.StockWarnLog">
    <!--@mbg.generated-->
    update stock_warn_log
    <set>
      <if test="stockCode != null">
        stock_code = #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="stockName != null">
        stock_name = #{stockName,jdbcType=VARCHAR},
      </if>
      <if test="templateId != null">
        template_id = #{templateId,jdbcType=VARCHAR},
      </if>
      <if test="templateName != null">
        template_name = #{templateName,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        `date` = #{date,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.coatardbul.stock.model.entity.StockWarnLog">
    <!--@mbg.generated-->
    update stock_warn_log
    set stock_code = #{stockCode,jdbcType=VARCHAR},
      stock_name = #{stockName,jdbcType=VARCHAR},
      template_id = #{templateId,jdbcType=VARCHAR},
      template_name = #{templateName,jdbcType=VARCHAR},
      `date` = #{date,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-03-05-->
  <select id="selectAllByTemplateIdAndDate" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from stock_warn_log
        where template_id=#{templateId,jdbcType=VARCHAR} and `date`=#{date,jdbcType=VARCHAR}
    </select>

<!--auto generated by MybatisCodeHelper on 2022-03-06-->
  <select id="selectByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from stock_warn_log
        <where>
            <if test="id != null">
                and id=#{id,jdbcType=VARCHAR}
            </if>
            <if test="stockCode != null">
                and stock_code=#{stockCode,jdbcType=VARCHAR}
            </if>
            <if test="stockName != null">
                and stock_name=#{stockName,jdbcType=VARCHAR}
            </if>
            <if test="templateId != null">
                and template_id=#{templateId,jdbcType=VARCHAR}
            </if>
            <if test="templateName != null">
                and template_name=#{templateName,jdbcType=VARCHAR}
            </if>
            <if test="date != null">
                and `date`=#{date,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and create_time=#{createTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

<!--auto generated by MybatisCodeHelper on 2022-03-09-->
  <select id="selectAllByDateAndTemplateId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from stock_warn_log
    <where>
      `date`=#{date,jdbcType=VARCHAR}
      <if test="templateId != null">
        and template_id=#{templateId,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

<!--auto generated by MybatisCodeHelper on 2022-03-14-->
  <delete id="deleteByDate">
        delete from stock_warn_log
        where `date`=#{date,jdbcType=VARCHAR}
    </delete>
</mapper>