<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coatardbul.stock.mapper.StockTradeUrlMapper">
  <resultMap id="BaseResultMap" type="com.coatardbul.stock.model.entity.StockTradeUrl">
    <!--@mbg.generated-->
    <!--@Table stock_trade_url-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="sign" jdbcType="VARCHAR" property="sign" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="validate_key" jdbcType="VARCHAR" property="validateKey" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, url, sign, remark, validate_key
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from stock_trade_url
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from stock_trade_url
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.coatardbul.stock.model.entity.StockTradeUrl">
    <!--@mbg.generated-->
    insert into stock_trade_url (id, url, sign, 
      remark, validate_key)
    values (#{id,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{sign,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{validateKey,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.coatardbul.stock.model.entity.StockTradeUrl">
    <!--@mbg.generated-->
    insert into stock_trade_url
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="sign != null">
        sign,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="validateKey != null">
        validate_key,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="sign != null">
        #{sign,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="validateKey != null">
        #{validateKey,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.coatardbul.stock.model.entity.StockTradeUrl">
    <!--@mbg.generated-->
    update stock_trade_url
    <set>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="sign != null">
        sign = #{sign,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="validateKey != null">
        validate_key = #{validateKey,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.coatardbul.stock.model.entity.StockTradeUrl">
    <!--@mbg.generated-->
    update stock_trade_url
    set url = #{url,jdbcType=VARCHAR},
      sign = #{sign,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      validate_key = #{validateKey,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-06-04-->
  <select id="selectByAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from stock_trade_url
    <where>
      <if test="id != null">
        and id=#{id,jdbcType=VARCHAR}
      </if>
      <if test="url != null">
        and url=#{url,jdbcType=VARCHAR}
      </if>
      <if test="sign != null">
        and sign=#{sign,jdbcType=VARCHAR}
      </if>
      <if test="remark != null">
        and remark=#{remark,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

<!--auto generated by MybatisCodeHelper on 2022-06-05-->
  <select id="selectAllBySign" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from stock_trade_url
        where sign=#{sign,jdbcType=VARCHAR}
    </select>

<!--auto generated by MybatisCodeHelper on 2022-06-05-->
  <update id="updateValidateKey">
    update stock_trade_url
    set validate_key=#{updatedValidateKey,jdbcType=VARCHAR}
  </update>
</mapper>