<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coatardbul.stock.mapper.StockFilterMapper">
  <resultMap id="BaseResultMap" type="com.coatardbul.stock.model.entity.StockFilter">
    <!--@mbg.generated-->
    <!--@Table stock_filter-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="template_sign" jdbcType="VARCHAR" property="templateSign" />
    <result column="stock_code" jdbcType="VARCHAR" property="stockCode" />
    <result column="explain" jdbcType="LONGVARCHAR" property="explain" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `date`, template_sign, stock_code, `explain`, `status`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from stock_filter
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from stock_filter
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.coatardbul.stock.model.entity.StockFilter">
    <!--@mbg.generated-->
    insert into stock_filter (id, `date`, template_sign, 
      stock_code, `explain`, `status`
      )
    values (#{id,jdbcType=VARCHAR}, #{date,jdbcType=VARCHAR}, #{templateSign,jdbcType=VARCHAR}, 
      #{stockCode,jdbcType=VARCHAR}, #{explain,jdbcType=LONGVARCHAR}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.coatardbul.stock.model.entity.StockFilter">
    <!--@mbg.generated-->
    insert into stock_filter
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="date != null">
        `date`,
      </if>
      <if test="templateSign != null">
        template_sign,
      </if>
      <if test="stockCode != null">
        stock_code,
      </if>
      <if test="explain != null">
        `explain`,
      </if>
      <if test="status != null">
        `status`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="templateSign != null">
        #{templateSign,jdbcType=VARCHAR},
      </if>
      <if test="stockCode != null">
        #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="explain != null">
        #{explain,jdbcType=LONGVARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.coatardbul.stock.model.entity.StockFilter">
    <!--@mbg.generated-->
    update stock_filter
    <set>
      <if test="date != null">
        `date` = #{date,jdbcType=VARCHAR},
      </if>
      <if test="templateSign != null">
        template_sign = #{templateSign,jdbcType=VARCHAR},
      </if>
      <if test="stockCode != null">
        stock_code = #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="explain != null">
        `explain` = #{explain,jdbcType=LONGVARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.coatardbul.stock.model.entity.StockFilter">
    <!--@mbg.generated-->
    update stock_filter
    set `date` = #{date,jdbcType=VARCHAR},
      template_sign = #{templateSign,jdbcType=VARCHAR},
      stock_code = #{stockCode,jdbcType=VARCHAR},
      `explain` = #{explain,jdbcType=LONGVARCHAR},
      `status` = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-05-08-->
  <delete id="deleteByDateAndTemplateSignAndStockCode">
        delete from stock_filter
        where `date`=#{date,jdbcType=VARCHAR} and template_sign=#{templateSign,jdbcType=VARCHAR} and
        stock_code=#{stockCode,jdbcType=VARCHAR}
    </delete>

<!--auto generated by MybatisCodeHelper on 2022-05-08-->
  <select id="selectAllByDateAndTemplateSignAndStockCode" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from stock_filter
    where `date`=#{date,jdbcType=VARCHAR} and template_sign=#{templateSign,jdbcType=VARCHAR} and
    stock_code=#{stockCode,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2022-05-08-->
  <select id="selectAllByDateAndTemplateSign" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from stock_filter
    where `date`=#{date,jdbcType=VARCHAR} and template_sign=#{templateSign,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2022-05-08-->
  <delete id="deleteByDateAndTemplateSign">
        delete from stock_filter
        where `date`=#{date,jdbcType=VARCHAR} and template_sign=#{templateSign,jdbcType=VARCHAR}
    </delete>
</mapper>