<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coatardbul.stock.mapper.StockPreTradeMapper">
  <resultMap id="BaseResultMap" type="com.coatardbul.stock.model.entity.StockPreTrade">
    <!--@mbg.generated-->
    <!--@Table stock_pre_trade-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="trade_date" jdbcType="VARCHAR" property="tradeDate" />
    <result column="pre_trade_time" jdbcType="VARCHAR" property="preTradeTime" />
    <result column="trade_num" jdbcType="VARCHAR" property="tradeNum" />
    <result column="trade_price" jdbcType="VARCHAR" property="tradePrice" />
    <result column="trade_all_amount" jdbcType="VARCHAR" property="tradeAllAmount" />
    <result column="msg" jdbcType="VARCHAR" property="msg" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, code, `name`, trade_date, pre_trade_time, trade_num, trade_price, trade_all_amount, 
    msg, `status`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from stock_pre_trade
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from stock_pre_trade
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.coatardbul.stock.model.entity.StockPreTrade">
    <!--@mbg.generated-->
    insert into stock_pre_trade (id, code, `name`, 
      trade_date, pre_trade_time, trade_num, 
      trade_price, trade_all_amount, msg, 
      `status`)
    values (#{id,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{tradeDate,jdbcType=VARCHAR}, #{preTradeTime,jdbcType=VARCHAR}, #{tradeNum,jdbcType=VARCHAR}, 
      #{tradePrice,jdbcType=VARCHAR}, #{tradeAllAmount,jdbcType=VARCHAR}, #{msg,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.coatardbul.stock.model.entity.StockPreTrade">
    <!--@mbg.generated-->
    insert into stock_pre_trade
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null and id != ''">
        id,
      </if>
      <if test="code != null and code != ''">
        code,
      </if>
      <if test="name != null and name != ''">
        `name`,
      </if>
      <if test="tradeDate != null and tradeDate != ''">
        trade_date,
      </if>
      <if test="preTradeTime != null and preTradeTime != ''">
        pre_trade_time,
      </if>
      <if test="tradeNum != null and tradeNum != ''">
        trade_num,
      </if>
      <if test="tradePrice != null and tradePrice != ''">
        trade_price,
      </if>
      <if test="tradeAllAmount != null and tradeAllAmount != ''">
        trade_all_amount,
      </if>
      <if test="msg != null and msg != ''">
        msg,
      </if>
      <if test="status != null">
        `status`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null and id != ''">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="code != null and code != ''">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null and name != ''">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="tradeDate != null and tradeDate != ''">
        #{tradeDate,jdbcType=VARCHAR},
      </if>
      <if test="preTradeTime != null and preTradeTime != ''">
        #{preTradeTime,jdbcType=VARCHAR},
      </if>
      <if test="tradeNum != null and tradeNum != ''">
        #{tradeNum,jdbcType=VARCHAR},
      </if>
      <if test="tradePrice != null and tradePrice != ''">
        #{tradePrice,jdbcType=VARCHAR},
      </if>
      <if test="tradeAllAmount != null and tradeAllAmount != ''">
        #{tradeAllAmount,jdbcType=VARCHAR},
      </if>
      <if test="msg != null and msg != ''">
        #{msg,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.coatardbul.stock.model.entity.StockPreTrade">
    <!--@mbg.generated-->
    update stock_pre_trade
    <set>
      <if test="code != null and code != ''">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null and name != ''">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="tradeDate != null and tradeDate != ''">
        trade_date = #{tradeDate,jdbcType=VARCHAR},
      </if>
      <if test="preTradeTime != null and preTradeTime != ''">
        pre_trade_time = #{preTradeTime,jdbcType=VARCHAR},
      </if>
      <if test="tradeNum != null and tradeNum != ''">
        trade_num = #{tradeNum,jdbcType=VARCHAR},
      </if>
      <if test="tradePrice != null and tradePrice != ''">
        trade_price = #{tradePrice,jdbcType=VARCHAR},
      </if>
      <if test="tradeAllAmount != null and tradeAllAmount != ''">
        trade_all_amount = #{tradeAllAmount,jdbcType=VARCHAR},
      </if>
      <if test="msg != null and msg != ''">
        msg = #{msg,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.coatardbul.stock.model.entity.StockPreTrade">
    <!--@mbg.generated-->
    update stock_pre_trade
    set code = #{code,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      trade_date = #{tradeDate,jdbcType=VARCHAR},
      pre_trade_time = #{preTradeTime,jdbcType=VARCHAR},
      trade_num = #{tradeNum,jdbcType=VARCHAR},
      trade_price = #{tradePrice,jdbcType=VARCHAR},
      trade_all_amount = #{tradeAllAmount,jdbcType=VARCHAR},
      msg = #{msg,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-12-27-->
  <select id="selectAllByCodeAndTradeDate" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from stock_pre_trade
        where code=#{code,jdbcType=VARCHAR} and trade_date=#{tradeDate,jdbcType=VARCHAR}
    </select>
</mapper>