<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coatardbul.river.mapper.DictInfoMapper">
  <resultMap id="BaseResultMap" type="com.coatardbul.river.model.entity.DictInfo">
    <!--@mbg.generated-->
    <!--@Table dict_Info-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="busi_type" jdbcType="VARCHAR" property="busiType" />
    <result column="sign_key" jdbcType="VARCHAR" property="signKey" />
    <result column="sign_value" jdbcType="LONGVARCHAR" property="signValue" />
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, busi_type, sign_key, sign_value, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from dict_Info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from dict_Info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.coatardbul.river.model.entity.DictInfo">
    <!--@mbg.generated-->
    insert into dict_Info (id, busi_type, sign_key, 
      sign_value, remark)
    values (#{id,jdbcType=VARCHAR}, #{busiType,jdbcType=VARCHAR}, #{signKey,jdbcType=VARCHAR}, 
      #{signValue,jdbcType=LONGVARCHAR}, #{remark,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.coatardbul.river.model.entity.DictInfo">
    <!--@mbg.generated-->
    insert into dict_Info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null and id != ''">
        id,
      </if>
      <if test="busiType != null and busiType != ''">
        busi_type,
      </if>
      <if test="signKey != null and signKey != ''">
        sign_key,
      </if>
      <if test="signValue != null and signValue != ''">
        sign_value,
      </if>
      <if test="remark != null and remark != ''">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null and id != ''">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="busiType != null and busiType != ''">
        #{busiType,jdbcType=VARCHAR},
      </if>
      <if test="signKey != null and signKey != ''">
        #{signKey,jdbcType=VARCHAR},
      </if>
      <if test="signValue != null and signValue != ''">
        #{signValue,jdbcType=LONGVARCHAR},
      </if>
      <if test="remark != null and remark != ''">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.coatardbul.river.model.entity.DictInfo">
    <!--@mbg.generated-->
    update dict_Info
    <set>
      <if test="busiType != null and busiType != ''">
        busi_type = #{busiType,jdbcType=VARCHAR},
      </if>
      <if test="signKey != null and signKey != ''">
        sign_key = #{signKey,jdbcType=VARCHAR},
      </if>
      <if test="signValue != null and signValue != ''">
        sign_value = #{signValue,jdbcType=LONGVARCHAR},
      </if>
      <if test="remark != null and remark != ''">
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.coatardbul.river.model.entity.DictInfo">
    <!--@mbg.generated-->
    update dict_Info
    set busi_type = #{busiType,jdbcType=VARCHAR},
      sign_key = #{signKey,jdbcType=VARCHAR},
      sign_value = #{signValue,jdbcType=LONGVARCHAR},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2023-06-21-->
  <select id="selectAllByBusiTypeAndSignKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dict_Info
        where busi_type=#{busiType,jdbcType=VARCHAR} and sign_key=#{signKey,jdbcType=VARCHAR}
    </select>
</mapper>